nav{
    display: flex;
    justify-content:space-between;
    height:15vh;
    align-items: center;
    padding:15px 70px 15px 70px;
    background:#0D0E10;
    margin-bottom: 160px;
}

h1{
    font-family: 'Chalkduster';
    color: blueviolet;
    text-align: center;
}

.left p{
    color:#F17300;
    font-family: 'Chalkduster', sans-serif;
    font-size:34px;  
  }

  nav > div > ul {
    display: flex;
    gap: 40px;
  }

  body {
    background-color: #181920;
  }

  .imageHome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px;
    margin-top: 120px;
  }

  .imageHome > a {
    width: 150px;
  }

@import "styles/mc.css";
@import "styles/quentin.css";
@import "styles/olivia.css";
@import "styles/victor.css";


