body{
background-color: #181920;
}


.div2{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bowser{
    width: 250px;
    height: 250px;

}

.class1{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.h1{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 120px;
}

.chateau{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
}

.chateau2{
    width: 450px;
    height: 200px;

}

.class2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.h2{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 300px;
}

.personnaliter{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.perso{
    width: 250px;
    height: 250px;

}

.class3{
    display: flex;
    flex-direction: column;
    margin-left: 95px;
}

.h3{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 215px;
}

.capacite{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
}

.cap{
    width: 450px;
    height: 200px;
}

.class4{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.h4{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 270px;
}
.mario{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mario2{
    width: 250px;
    height: 250px;

}

.class5{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.h5{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 295px;
}

.Apparition{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
    align-items: center;
}

.appa2{
    width: 450px;
    height: 200px;
    
}

.class6{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.h6{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 205px;
}

.peach{
    color: #F17300;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.peach2{
    width: 250px;
    height: 250px;

}

.class7{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.h7{
    color: #A288E3;
    border-bottom:  1px solid #A288E3;
    width: 255px;
}